@import '../variable/variable';

//split button mixin
@mixin btn__split($foregroundColor, $backgroundColor, $textColor) {
	.btn-btn {
		text-transform: uppercase;
		text-decoration: none;
		font-weight: 700;
		border: 0;
		position: relative;
		letter-spacing: 0.15em;
		margin: 0 auto;
		background: transparent;
		outline: none;
		color: $textColor;
		transition: all 0.5s $cubicBezier 0.15s;
		&::after,
		&::before {
			border: 0;
			content: "";
			position: absolute;
			height: 40%;
			width: 10%;
			transition: all 0.5s $cubicBezier;
			z-index: -2;
			border-radius: 50%;
		}
		&::before {
			border: 0;
			background-color: $backgroundColor;
			top: -0.75rem;
			left: 0.5rem;
			animation: topAnimation 2s $cubicBezier 0.25s infinite alternate;
		}
		&::after {
			background-color: $foregroundColor;
			top: 3rem;
			left: 13rem;
			animation: bottomAnimation 2s $cubicBezier 0.5s infinite alternate;
		}
		&:hover {
			color: white;
			&::before,
			&::after {
				top: 0;
				height: 100%;
				width: 100%;
				border-radius: 0;
				animation: none;
			}
			&::after {
				left: 0rem;
			}
			&::before {
				top: 0.5rem;
				left: 0.35rem;
			}
		}
	}
}

@keyframes topAnimation {
	from {
		transform: translate(0rem, 0);
	}
	to {
		transform: translate(0rem, 3.5rem);
	}
}
@keyframes bottomAnimation {
	from {
		transform: translate(-11.5rem, 0);
	}
	to {
		transform: translate(0rem, 0);
	}
}

@include btn__split($purple, $hoverPurple, $white);

#see-more-button, #see-less-button, #contact-me {
  padding: 10px 20px;
  background-color: $purple;
  color: $white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

#see-more-button:hover, #see-less-button:hover, #contact-me:hover {
  background-color: $hoverPurple;
  color: $white;
}


