{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Contact{% endblock %}

{% block body %}
{{ include('header.html.twig') }}

<section class="contact">
    <h2 class="contact__title">Me contacter</h2>
</section>

{{ include('footer.html.twig') }}
{% endblock %}

