{% extends 'base.html.twig' %}

{% block title %}Hello CareerController!{% endblock %}

{% block body %}
{{ include('header.html.twig')}}

<h2 class="timeline__title">Parcours</h2>
<div class="timeline">
  <div class="outer">
    <div class="card">
      <div class="info">
        <h3 class="title">Bachelor Web Design UI/UX & Développement Web</h3>
        <h4>La Manu - Amiens</h4>
        <h5>2022-2025</h5>
        <p>3 années d'étude (dont la dernière en alternance) afin de valider le diplôme du bachelor Web Design UI/UX & Développement Web.</p>
      </div>
    </div>
    <div class="card">
      <div class="info">
        <h3 class="title">BTS Services Informatiques aux Organisations (SIO)</h3>
        <h4>Lycée Saint-Vincent - Senlis</h4>
        <h5>2021-2022</h5>
        <p>J'ai réalisé une année dans ce cursus (pas de diplôme obtenu). Le domaine dans lequel je travaillais me plaisait, mais j'ai découvert une passion pour le développement web et décidé de me spécialiser dans le développement web.</p>
      </div>
    </div>
    <div class="card">
      <div class="info">
        <h3 class="title">Diplôme de Comptabilité et de Gestion (DCG)</h3>
        <h4>Lycée Jules Uhry - Creil</h4>
        <h5>2019-2021</h5>
        <p>Après le baccalauréat, je suis parti en comptabilité et gestion. Je me suis rendu compte que ce n'était pas le chemin que j'avais envie d'emprunter, j'ai décidé de me réorienter. Pas de diplôme obtenu.</p>
      </div>
    </div>
    <div class="card">
      <div class="info">
        <h3 class="title">Baccalauréat sciences et technologies du management et de la gestion (STMG)</h3>
        <h4>Lycée Charles de Gaulle - Compiègne</h4>
        <h5>2019</h5>
        <p>Obtention du baccalauréat STMG avec mention assez bien.</p>
      </div>
    </div>
  </div>
</div>

<div class="experience">
    <h2 class="timeline__title">Expériences professionnelles</h2>
    <div class="timeline">
    <div class="outer">
        <div class="card">
        <div class="info">
            <h3 class="title">Stagiaire chez Hippolyte</h3>
            <h4>Amiens</h4>
            <h5>22 avril au 17 juillet 2024</h5>
            <p>J'ai réalisé un stage de 12 semaines chez Hippolyte. J'ai travaillé essentiellement sur le langage JavaScript mais aussi du Symfony. J'ai eu la tâche de répondre à plusieurs missions que l'entreprise m'a confiée en fonction de leurs besoins. Une expérience très formatrice avec énormément de compétences acquises.</p>
        </div>
        </div>
        <div class="card">
        <div class="info">
            <h3 class="title">Stagiaire chez LechoSolutions</h3>
            <h4>Noyon ~ Distanciel</h4>
            <h5>2 mai au 26 juin 2023</h5>
            <p>Lors de ma première année à La Manu, j'ai eu un stage à effectuer au sein de la même boite que citée précédemment, LechoSolutions. J'ai aidé ma tutrice à peaufiner son site Wordpres. A côté de cela, j'ai utilisé PHP, Symfony et gérer des API (grâce notamment à un logiciel Postman).</p>
        </div>
        </div>
        <div class="card">
        <div class="info">
            <h3 class="title">Stagiaire chez LechoSolutions</h3>
            <h4>Distanciel</h4>
            <h5>30 mai au 24 juin 2022</h5>
            <p>A la fin de ma première année lors de mon BTS Services Informatiques aux Organisations, je devais faire un stage d'1 mois en fin d'année. Je l'ai réalisé chez LechoSolutions (une boîte freelance, spécialisée dans l'animation de formation pour les personnes en reconversion). Durant ce stage, j'ai principalement développé en PHP.</p>
        </div>
        </div>
        <div class="card">
        <div class="info">
            <h3 class="title">Stage de découverte à La Poste</h3>
            <h4>Goussainville</h4>
            <h5>5 juin au 19 juin 2017</h5>
            <p>A la fin de mon année de seconde au lycée, j'ai effectué un stage de 2 semaines à La Poste de Goussainville. J'ai trié et rangé les courriers au bon endroit.</p>
        </div>
        </div>
        <div class="card">
        <div class="info">
            <h3 class="title">Stage de découverte à La Poste</h3>
            <h4>Goussainville</h4>
            <h5>2017</h5>
            <p>A la fin de mon année de seconde au lycée, j'ai effectué un stage de 2 semaines à La Poste de Goussainville. J'ai trié des lettres, déposé les courriers par région, collage d'étiquette, rangement de salle.</p>
        </div>
        </div>
        <div class="card">
        <div class="info">
            <h3 class="title">Stage de découverte à Canal+</h3>
            <h4>Boulogne-Billancourt</h4>
            <h5>4 janvier au 8 janvier 2016</h5>
            <p>A la fin de mon année de troisième au lycée, j'ai effectué un stage d'une semaine à Canal+. Un moment inoubliable pour moi ! Découvrir les locaux, le personnel d'un endroit qui ne respire que par le sport a été un souvenir mémorable ! J'ai participé aux émissions télévisées, rangement d'armoire et de bibliothèque, découverte des locaux et métiers.</p>
        </div>
        </div>
    </div>
    </div>
</div>

{{ include('footer.html.twig') }}
{% endblock %}

