{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Compétences{% endblock %}

{% block body %}
{{ include('header.html.twig')}}

<section class="skills">
    <h2 class="skills__title">Compétences</h2>
    <div>
    </div>
</section>

{{ include('footer.html.twig') }}
{% endblock %}

