{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Compétences{% endblock %}

{% block body %}
{{ include('header.html.twig')}}

<section class="skills">
    <h2 class="skills__title">Compétences</h2>
    <div class="skills__content">
        <div class="skills__content backend">
            <h3>Dévéloppement back-end</h3>
            <div class="skills__content__btn">
                <button><i class="fa-brands fa-python fa"></i><p>Python</p></button>
                <button><i class="fa-brands fa-php fa"></i><p>PHP</p></button>
                <button><i class="fa-brands fa-database fa"></i><p>MySQL</p></button>
                <button><i class="fa-brands fa-java fa"></i><p>Java</p></button>
                <button><i class="fa-brands fa-symfony fa"></i><p>Symfony</p></button>
                <button><p>C#</p></button>
            </div>
        </div>
        <div class="skills__content frontend">
            <h3>Développement front-end</h3>
            <div class="skills__content__btn">
                <button><i class="fa-brands fa-html5 fa"></i><p>HTML</p></button>
                <button><i class="fa-brands fa-css3 fa"></i><p>CSS</p></button>
                <button><i class="fa-brands fa-bootstrap fa"></i><p>Bootstrap</p></button>
                <button><i class="fa-brands fa-vuejs fa"></i><p>vueJS</p></button>
                <button><i class="fa-brands fa-js fa"></i><p>JavaScript</p></button>
                <button><i class="fa-brands fa-sass fa"></i><p>Sass</p></button>
                <button><i class="fa-brands fa-react fa"></i><p>React</p></button>
                <button><i class="fa-brands fa-node fa"></i><p>NodeJS</p></button>
            </div>
        </div>
        <div class="skills__content versioning">
            <h3>Devops</h3>
            <div class="skills__content__btn">
                <button><i class="fa-brands fa-git fa"></i><p>Git</p></button>
                <button><i class="fa-brands fa-docker fa"></i><p>Docker</p></button>
                <button><p>Commandes</p></button>
            </div>
        </div>
        <div class="skills__content other">
            <h3>CMS</h3>
            <p>Test</p>
        </div>
    </div>
</section>

{{ include('footer.html.twig') }}
{% endblock %}

