{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Loisirs{% endblock %}

{% block body %}
{{ include('header.html.twig')}}

<section class="hobbies">
    <h2 class="hobbies__title">Mes loisirs</h2>
    <div class="hobbies__section">
        <div class="hobbies__content">
            <h3>Loisirs sportifs</h3>
            <div class="hobbies__content__body">
                <div class="chart-container">
                    <canvas class="sports-chart"></canvas>
                </div>
                <div class="details">
                    <ul></ul>
                </div>
            </div>
        </div>
        <div class="hobbies__content">
            <h3>Voyages</h3>
            <div class="hobbies__content__body">
                <div class="chart-container">
                    <canvas class="sports-chart"></canvas>
                </div>
                <div class="details">
                    <ul></ul>
                </div>
            </div>
        </div>
    </div>

</section>

{{ include('footer.html.twig') }}
{% endblock %}
