@import '../variable/variable';

// ---------------------------------- Parcours ----------------------------------

:root {
  --primary-color: $grey;
  --background-color: $black;
  --font: sans-serif;
}

/* Timeline Container */
.timeline {
  background: var(--primary-color);
  margin: 20px auto;
  margin-bottom: 10vh;
  padding: 20px;
  display: flex;
  justify-content: center;
}

/* Card container */
.card {
  position: relative;
  max-width: 600px;
}

/* Réglage de l'espacement en fonction des valeurs paires ou impaires */
.card:nth-child(odd) {
  padding: 30px 0 30px 30px;
}
.card:nth-child(even) {
  padding: 30px 30px 30px 0;
}
/* Global ::before */
.card::before {
  content: "";
  position: absolute;
  width: 50%;
  border: solid $green;
}

/* On définit la bordure */
.card:nth-child(odd)::before {
  left: 0px;
  top: -4.5px;
  bottom: -4.5px;
  border-width: 5px 0 5px 5px;
  border-radius: 50px 0 0 50px;
}

/* Réglage du haut et du bas à « -5px » parce qu'auparavant il y avait un écart d'un pixel sur les appareils mobiles */
@media only screen and (max-width: 400px) {
  .card:nth-child(odd)::before {
    top: -5px;
    bottom: -5px;
  }
}

/* Définition de la bordure du haut, du bas et de la droite */
.card:nth-child(even)::before {
  right: 0;
  top: 0;
  bottom: 0;
  border-width: 5px 5px 5px 0;
  border-radius: 0 50px 50px 0;
}

/* Suppression de la bordure s'il s'agit de la première carte */
.card:first-child::before {
  border-top: 0;
  border-top-left-radius: 0;
}

/* Suppression de la bordure s'il s'agit de la dernière carte et qu'elle est impaire */
.card:last-child:nth-child(odd)::before {
  border-bottom: 0;
  border-bottom-left-radius: 0;
}

/* Suppression de la bordure s'il s'agit de la dernière carte et qu'elle est paire */
.card:last-child:nth-child(even)::before {
  border-bottom: 0;
  border-bottom-right-radius: 0;
}

/* Information de la timeline */
.info {
  display: flex;
  flex-direction: column;
  background: #333;
  color: gray;
  border-radius: 10px;
  padding: 10px;
}

/* Titre de la card */
.title {
  color: $green;
  position: relative;
}

/* Timeline dot  */
.title::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: $white;
  border-radius: 999px;
  border: 3px solid $green;
}

.info h3 {
  font-size: 24px;
}

.info h4 {
  font-size: 20px;
  color: $white;
}

.info h5 {
  font-size: 18px;
  font-style: italic;
  margin-bottom: 2vh;
}

/* Texte à droite si la carte est paire */
.card:nth-child(even) > .info > .title {
  text-align: right;
}

/* Mise en place d'un point à gauche si la carte est impaire */
.card:nth-child(odd) > .info > .title::before {
  left: -45px;
}

/* Mise en place d'un point à droite si la carte est impaire */
.card:nth-child(even) > .info > .title::before {
  right: -45px;
}

// ---------------------------------- Experience ----------------------------------

.experience {
  padding-bottom: 5vh;
  background-color: $grey;
}