@import '../variable/_variable.scss';

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-color: $black;
  color: $white;
}

a {
  text-decoration: none;
}

h2 {
  color: $green;
  text-align: center;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
}